.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle-8.4/
gradle-8.4-bin.zip
